<div class="site-header">
  <div class="container">
    <header class="masthead">
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <a href="{{ node.url | prepend: site.baseurl }}" class="masthead-title{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
    </header>
  </div>
</div>
